@import url('https://fonts.googleapis.com/css?family=Lobster');

html { 
    background: linear-gradient(230deg, rgba(206,73,191,1) 0%, rgba(241,144,183,1) 100%) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


body{
  font-family: 'Lobster', cursive;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
h1{
  background: #fff;
  width:85%;
  margin: auto;
  text-align:center;
  font-size:100px;
  border-radius:30px;
  padding:5px 20px;
}
h2{
  margin:10px auto;
  text-align:center;
  font-size:40px;
  border-radius:30px;
  padding:0px 20px;
}
.timer{
	display: flex;
	color: white;
    justify-content: center;
	text-align: center;
    
    margin-top: 20px;
}
.timer div{
	margin: 1px 20px;
}
.timer div h2{
    font-size: 72px;
}
.timer div span{
    font-size: 24px;
    color: #fff;
}
@media only screen and (max-width: 590px) {

    h1{
        background: #fff;
        width:85%;
        margin: auto;
        margin-top: 10px;
        text-align:center;
        font-size:34px;
        border-radius:30px;
        padding:5px 20px;
      }

      h2{
        margin:10px auto 0px auto;
        text-align:center;
        font-size:24px;
        border-radius:30px;
        padding:0px 20px;
      }

      .timer{
          flex-direction: column;
      }
      .timer div{
          margin: 10px auto;
      }
      .timer div h2{
            font-size: 20vw;
      }
  }



  @media only screen and (max-height: 763px) {
    .timer div h2{
        font-size: 12vw;
    }
  }

  p{
    font-size: 15px;
    color: black;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 15px;

  }
  a{
    text-decoration: none;
    color: #A63EC5;
  }






